.inventario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Estilo para los inputs */
.inventario-input {
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inventario-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Botón elegante */
.inventario-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #007bff;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inventario-button:hover {
  background-color: #0056b3;
}

.inventario-button:active {
  background-color: #004085;
  transform: scale(0.98);
}

.tabla-inventario-joyvolt {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

.celda-titulo-joyvolt {
  background-color: rgb(239, 121, 255);
  border: 1px solid black;
  letter-spacing: 1px; /* Ajusta el espaciado entre letras según sea necesario */
  word-spacing: 3px; /* Ajusta el espaciado entre palabras según sea necesario */
}

.celda-encabezado-joyvolt {
  background-color: rgb(99, 185, 255);
  border: 1px solid black;
}

.celda-imagen-joyvolt {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}
.celda-nombre-joyvolt {
  background-color: lawngreen;
  border: 1px solid black;
  text-align: center;
}
.celda-cantidad-joyvolt {
  background-color: lawngreen;
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
}
.celda-precio-joyvolt {
  background-color: lawngreen;
  border: 1px solid black;
  text-align: center;
}
.celda-acciones-joyvolt {
  background-color: red;
  border: 1px solid black;
}

.celda-pie-joyvolt {
  background-color: rgb(75, 75, 75);
  color: white;
  border: 1px solid black;
  text-align: right;
  font-size: 24px;
}

/* Botón elegante */
.boton-capturar-joyvolt {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.1rem;
  color: #000000;
  background-color: #ffaa0d;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
